#Project{
    display: flex;
    .container{
        .color-1{
            text-align: center;
            margin-bottom: 3%;
            font-weight: 700;
            font-size: 36px;
            line-height: 54px;
            letter-spacing: 0.003em;
            color: #FFFFFF;
            margin-top: 20px;
        }
            .margin{
                width: 90%;
                height: 341px;
                margin-top: 2%;
                margin-left: 6%;
            }
.margin0{
    width: 90%;
    height: 30%;
    background: #313131;
    margin-top: -10px;
    margin-left: 31px;
    .marin-1{
        color: #FFFFFF;
        margin-top: 2%;
        margin-left: 9%;
    }
    .marin-2{
        color: #FFFFFF;
        margin-top: 2%;
        margin-left: 9%;
        margin-bottom: 10%;
    }

}
    }
}































